<div class="feedbox">
  <div id="profileHeader">
    {% if user.pic %}
      <img class="thumbnail/134x180 profilePic" src="{{ user.pic }}">
    {% else %}
      <img class="thumbnail/134x180 profilePic" src="{{ static/images/no.jpg }}">
    {% endif %}
    <h1>{{ user.name }}</h1>
  </div>
  <a id="addPost" href="#"><span class="glyphicon glyphicon-plus"></span>New Post</a>
  {% for post in post_list %}
      <div class="media">
  	   	<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
    	  {% if post.pic %}
          <a href="#" class="pull-left" id="{{ post.picName }}">
            <img class="media-object" src="{{ post.pic }}">
  			  </div>
  		  {% endif %}
  		  <a href="#" class="media-body">
  			  {% if post.title %}
            <h4 class="media-heading">{{ post.title }}</h4>
          {% endif %}
          <p>{{ post.content }}</p>
  		  </a>
      </div>
  {% empty %}
    <div>Sorry, you have no posts yet.</div>
  {% endfor %}
  <a href="#" id="morePosts">
    <span class="glyphicon glyphicon-Chevron-down"></span>More Posts
    <span class="glyphicon glyphicon-Chevron-down">
  </a>
</div>