<div class="modal fade" id="githubModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">GitHub Feed Set-up</h4>
      </div>
      <div class="modal-body">
        <!--TODO: Create form for the new post here-->

        <form action="{% url 'initGithub' %}" method="post" id="githubForm">
        {% csrf_token %}  
        
          <p>A token is needed to connect to your feed which requires your your user name, and password. Your password will not be saved, or released in any way, or if you have created a token yourself it can be entered below by selecting Token as the Auth type first.</p>
          
          <table>
            {{ github_form }}
          </table>
          <input type="submit" name="githubSubmit" value="Set Token"/>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
