<div class="modal fade" id="githubModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">GitHub Feed Set-up</h4>
      </div>
      <div class="modal-body">
        <!--TODO: Create form for the new post here-->

        <form action="{% url 'initGitHub' %}" method="post" id="githubForm">
        {% csrf_token %}  
        {% if errors %}
          <ul>
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %} 
          <p>A token is needed to connect to your feed which requires your your user name, and password. Your password will not be saved, or released in any way, or if you have created a token yourself it can be entered below by selecting Token first.</p>
          <label>User Name <input type="text" name="handle"/></label></br></br>
          <label>Authentication Method <select name="authType">
              <option value="pwd">Password</option>
              <option value="token">Token</option>
          </select></label></br>
          <label>Password <input type="text" name="auth"/></label>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" type="submit" name="submit" >Set Token</button>
      </div></form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->