<div class="modal fade" id="newPostModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Post</h4>
      </div>
      <div class="modal-body">
        <!--TODO: Create form for the new post here-->
        <form id="newPostForm", method="post" action="{% url 'public_posts' %}" >
        {% csrf_token %}
            <label >Title <input type="text" name="title" /></label>
            <label>Post Type <select class="post_type" name="content-type">
              <option value="HTML">HTML</option>
              <option value="X-MARKDOWN">Markdown</option>
              <option value="PLAIN">Text</option>
              <option value="IMAGE">Image</option>
            </select></label>
            <label class="image_field hide">Image URL<input type="text" name="image_url" /></label>            
            <label >Description <input type="text" name="description" /></label>            
            <label>Content<textarea name="content" rows="5"></textarea></label>
            <label >Categories <input type="text" name="categories" /></label>            
            <label>Visible To <select name="visibility">
              <option value="PUBLIC">Public</option>
              <option value="FRIENDS">Friends</option>
              <option value="FOAF">Friends of Friends</option>
              <option value="PRIVATE">Myself</option>
              <option value="SERVERONLY">This Server</option>
            </select></label>            
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="createPost">Create Post</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
