<div class="photobox">
<img id="trash" src="static/icons/shredder.png" ondrop="drop(event)" ondragenter="return false" ondragover="return false">
<div class="row">
  <div class="col-xs-6 col-md-3">
  {% for pic in pic_list %}
    <figure>
      <img class="thumbnail" draggable="true" ondragstart="drag(event)" data-src="{{ pic.path }}/134x180">
      {% if pic.caption %}
        <figcaption>{{ pic.caption }}</figcaption>
      {% endif %}
    </figure>
  	{% if forloop.counter % 4 == 0 %}
  	  </div>
  	  <div class="col-xs-6 col-md-3">
  	{% endif %}
  {% empty %}
    <div>Sorry, you have no photos yet.
  {% endfor %}
  </div>
</div>
</div>