<div class="media stream_post" name="feed" data-type="{{post.content_type}}">
    {% if post.pic %}
    <a href="#" class="pull-left" id="{{ post.picName }}">
      <img class="media-object" src="{{ post.picture }}">
    </a>
    {% endif %}
    <div class="clear"></div>
    <div class="body">
    <a href="/posts/{{ post.guid }}" class="media-body">
        {% if post.title %}
            <h3 class="media-heading">{{ post.title }}</h3>
            <p>by <a href="{% url 'author_profile' post.author.guid %}">{{ post.author.displayname }}</a></p>
            {{post.image_url}}
        {% endif %}
        <div class="content">{{ post.content }}</div>
    </a>
    </div>
    <div class="controls">
        <div class="comment_input">
            <textarea placeholder="New Comment:"></textarea>
        </div>
        {% for comment in post.comments.all %}
        <div class="comment">

            {{ comment.content }}
            <div class="clear"></div>
            <div class="meta">
                <div class="left">
                Posted by: <a href="/author/{{ comment.user.guid }}">{{comment.user.displayname}}</a>
                </div>
                <div class="right">
                    {{ comment.published_date }}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        {% empty %}
            No Comments Available
        {% endfor %}

        {% if user.id == post.author.id %}
        <button type="button" data-id="{{ post.guid }}" class="btn btn-default btn-xs right btn-delete">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
        {% endif %}

        <button type="button" data-id="{{ post.guid }}" class="btn btn-default btn-xs right btn-comment">
          <span class="glyphicon glyphicon-bullhorn"></span> Comment
        </button>

        <button type="button" data-id="{{ post.guid }}" class="btn btn-success btn-xs right btn-post-comment">
          <span class="glyphicon glyphicon-bullhorn"></span> Post Comment
        </button>


        <div class="clear"></div>
    </div>
</div>
