/*To adjust for the fixed nav bar*/
body{
	padding-top:60px;
}

.panel-primary > .panel-heading a{
	color:white;
}

#friendRequestsDropdown{
	width:200px;
	padding:5px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}
.acceptFriend{
	color:green;
}

.rejectFriend{
	color:red;
}

#friendRequestsDropdown span:hover{
 	cursor: pointer;
}

#newPostModal .modal-content{
	width:400px;
	margin:auto;
}

#newPostForm label, #newPostForm input, #newPostForm textarea, #newPostForm select{
	width:100%;
}

.feedbox {
	width: 100%;
	height: 100%;
}

.profileHeader {
	width: 100%;
	height: 100px;
	background: #3366FF;
}

.profilePic {
	margin-left: 100px;
}

.trashy {
	float: right;
	position:fixed;
}