/*To adjust for the fixed nav bar*/
body{
	padding-top:60px;
}

.panel-primary > .panel-heading a{
	color:white;
}

#friendRequestsDropdown{
	min-width:200px;
	padding:5px;
	width:100%;
	background-color:#efefef;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}
.acceptFriend{
	color:green;
}

.rejectFriend{
	color:red;
}

#friendRequestsDropdown span:hover{
 	cursor: pointer;
}

#newPostModal .modal-content{
	width:400px;
	margin:auto;
}

#newPostForm label, #newPostForm input, #newPostForm textarea, #newPostForm select{
	width:100%;
}

.panel-primary {
border: 0px solid black;
}