/*To adjust for the fixed nav bar*/
body{
	padding-top:60px;
}

.panel-primary > .panel-heading a{
	color:white;
}

#friendRequestsDropdown{
	width:200px;
	padding:5px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}
.acceptFriend{
	color:green;
}

.rejectFriend{
	color:red;
}

#friendRequestsDropdown span:hover{
 	cursor: pointer;
}