/*To adjust for the fixed nav bar*/
body{
	padding-top:60px;
	min-height: 700px;
}

.panel-primary > .panel-heading a{
	color:white;
}

#friendRequestsDropdown{
	min-width:200px;
	padding:5px;
	width:100%;
	background-color:#efefef;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear:both;
}
.acceptFriend{
	color:green;
}

.rejectFriend{
	color:red;
}

#friendRequestsDropdown span:hover{
 	cursor: pointer;
}

#newPostModal .modal-content{
	width:400px;
	margin:auto;
}

#newPostForm label, #newPostForm input, #newPostForm textarea, #newPostForm select{
	width:100%;
}


.panel-primary {
	border: 0px solid black;
}

.feedbox {
	padding-left: 50px;
	margin-top: 50px; 
	width: 100%;
	height: 100%;
	min-height: 200px;
}

.profileHeader {
	width: 100%;
	height: 100px;
	background: #3366FF;
}

.profilePic {
	margin-left: 100px;
	margin-right: 100px;
    margin-top: 30px;
	width: 100px;
	height: 150px;
}

.trashy {
	float: right;
	position:fixed;
}

.labell {
	font-size: 5em;
	float: right;
	margin-right: 100px;
}

.stream_post{
	margin: 20px auto;
	border:1px solid #dddddd;
	width:70%;
}

.stream_post > .controls{
	background-color:#eeeeee;
	width:100%;
	margin:0px;
	padding:7px 10px 3px;
}

.stream_post > .body{
	margin:10px;
}

.controls > .btn{
	margin-left:6px;
}

.stream_post .comment_input textarea{
	width: 100%;
	margin:auto;
}
.stream_post .comment_input {
	width:80%;
	margin: 10px auto;
	display:none;
}

.stream_post .btn-post-comment{
	display:none;
}

.friends{
	width:90%;
	margin:auto;

}

.friends > .friend{
	width:100%;
	background-color:#eeeeee;	
	padding:0px 15px 10px 15px;
	margin-bottom:20px;
}

.friend > .btn{
	margin-top:20px;
}