{% extends "base.html" %}

{% block content %}

<h1>Welcome to DISSONET</h1>
<p class="bigtext">Only the most awesome social network in the world! Create posts, add friends, and upload images! Much excitement awaits!</p>

{% if user.is_authenticated %}
	<h2>Welcome {{user.get_username}}</h2>
	<h3><a href="/posts">View your stream!</a></h3>

<!--
<div style="border:1px solid red; padding: 10px">
	{% for friend in pending_friend_list %}
		{{friend.guid}}
	{% endfor %}
	<h3>Debug</h3>
	<strong>Send Friend Request:</strong><br />
	<label>My GUID:</label><span id="debugFriendMyGuid">{{user.guid}}</span><br />
	<label>GUID</label><input type="text" id="debugFriendInput">
	<button id="debugFriendBtn">Add!</button>
</div>
-->
{% else %}
	<h2>Have an account?
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
		  Login
		</button> or
		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">
		  Register
		</button>
	</h2>
{% endif %}



{% endblock %}
