{% extends "base.html" %}

{% block content %}

<h1>Welcome to DISSONET</h1>
<p>Aliquam id justo a purus convallis faucibus. In ullamcorper mattis auctor. Pellentesque lacinia, felis ut vestibulum luctus, mi nunc fringilla turpis, et malesuada nisi quam at leo. Etiam feugiat tincidunt nisl at semper. In dignissim eget diam quis facilisis. Etiam quis elementum leo. Donec lobortis arcu neque, at adipiscing orci commodo sed. In ut nulla a mauris suscipit elementum in eget mauris. Donec nec mauris id eros dignissim euismod. Quisque interdum quam enim, viverra fringilla odio accumsan eget. Pellentesque mollis turpis quis arcu tincidunt, sed porttitor nisl facilisis. Curabitur elementum vitae quam a ornare. Curabitur tincidunt sem tellus, ac fermentum risus semper vel. Nulla sed est enim. Nunc luctus augue id porttitor adipiscing.</p>

<h2>Have an account? <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">
  Login
</button> or <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#register">
  Register
</button>
</h2>

<div style="border:2px solid red; padding:10px">
	<h3>DEBUG ZONE</h3><br />
	Login States {{ user.is_authenticated }} <br />
	Open your dev tool console for output.<br />
	<button onclick="getActivityStream(console.log);">LOAD ACTIVITY STREAM</button>
	<div></div>

	<div id="testbed"></div>
	<br /><br />

	<div style="border:2px solid blue;">
	{% include "controls/feed.html" %}
	</div>
</div>

{% endblock %}
