{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<h2>My Steam</h2>

<button class="newPost">Create Post</button>

{% if posts %}
    {% for post in posts %}
        <p>Post exists</p>
        <p>
            {{ post.title }}</br>
            {{ post.author }}</br>
        </p>
        <p>Spot for editting buttons</p>
        <form method="post" action="{% url 'post_edit' post_id=post.id  %}">
            {% csrf_token %}
            <input type="submit" value="Edit"/>
        </form>
        <form method="post" action="{% url 'post_delete' post_id=post.id %}">
            {% csrf_token %}
            <input type="submit" value="Delete"/>
        </form>
        <hr>
    {% endfor %}
{% else %}
    <strong>No posts on your stream yet</strong>
{% endif %}

{% endblock %}
