{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
        if ("{{email}}" != "None") {
            document.getElementById("id_email").value="{{email}}";
        }
    });
</script>

<div class="well well-lg">
  {{ state }}
</div>

<form method="post" class="form-horizontal">
{% csrf_token %}
    <table>
    {% bootstrap_form form layout="horizontal" %}
    {#{{ form.as_p }}#}
    </table>
    {% buttons submit="Reset" layout="horizontal" %}{% endbuttons %}
    <!-- <input type="submit" value="Reset" name="_reset" /> -->
</form>

{% endblock %}
