{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}


</br>
{% if post_list %}
    <div class="media">
        <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
        {% if post_list.pic %}
        <a href="#" class="pull-left" id="{{ post_list.picName }}">
          <img class="media-object" src="{{ post_list.picture }}">
        </a>
        {% endif %}
        <a href="#" class="media-body">
            {% if post_list.title %}
                <h4 class="media-heading">{{ post_list.title }}</h4>
                <h1>by {{ post_list.author }}</h1></br>
            {% endif %}
            <p>{{ post_list.content }}</p>
        </a>
    </div>
{% else %}
    <div>Sorry, you have no posts yet.</div>
{% endif %}

{% endblock %}
